
<div class="container text-center">
  <div class="row">
    <div class="col">
  
    </div>
    <div id="main"class="col m-5" style="border: 5px ridge rgb(255, 254, 254); padding: 20px;background: rgba(255, 255, 255, 0.2);backdrop-filter: blur(5px); filter: drop-shadow(2px 3px 3px);">
      <h3 class="text-light" style="text-shadow: 2px 3px 5px black; text-decoration: underline;">Currency-Converter</h3><br>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Enter Amount" style="filter: drop-shadow(2px 3px 3px);"[(ngModel)]="amount" >
        <label for="floatingInput">Enter Amount</label>
      </div>
      <div class="container text-center text-light">
        <div class="row" >
          <div class="col">
           
            <label for=""style="padding: 10px;">from : <img src="https://flagcdn.com/48x36/{{flagfrom}}.png" alt="" width="30px" ></label>
            <select style="width: 100px; height: 40px; border: 3px ridge rgb(255, 255, 255); box-shadow:inset 2px 3px 5px black;" name="currencyfrom" id="currencyfrom" #from (change)="getflag(from.value, to.value)" >
              <option *ngFor="let curr of currto" [value]="curr" [selected]="curr == 'MAD'" style="background-color: black; color:white" >
                {{curr}}
              </option>
            </select>
          </div>
          <div class="col" style="margin-top: 50px;">
           <img src="https://cdn-icons-png.flaticon.com/512/335/335522.png" alt="" width="20px" style="filter: invert(100%);">
          </div>
          <div class="col">
            <img src="" alt="">
            <label style="padding: 10px;" for="" >to: &nbsp; <img src="https://flagcdn.com/48x36/{{flagto}}.png" alt=""  width="30px"></label><br>
            <select style=" border: 3px ridge rgb(255, 255, 255);width: 100px; height: 40px; box-shadow: inset 2px 3px 5px black;" name="currencyTo" id="currencyTo" #to (change)="getflag(from.value, to.value)"  >
              <option *ngFor="let curr of currto" [value]="curr" [selected]="curr == 'USD'"style="background-color: black; color:white" >
                {{curr}}
              </option>
            </select>
          </div>
          <div class="container text-center" style="margin-top:20px">
            <div class="row">
              <div class="col">
                
              </div>
              <div class="col">
    
              </div>
              <div class="col">
          
              </div>
            </div>
          </div>
          <button style="margin-top: 50px; background: transparent; color:white; border: 2px ridge white;font-size: large;  box-shadow: 2px 3px 5px black;" (click)="currencyconverter(from.value, to.value)">Convert &nbsp;<img style="filter: invert(100%);" src="https://icon-library.com/images/reverse-icon-png/reverse-icon-png-15.jpg" alt="" width="20px"></button>
          <h4 style="margin-top: 50px; text-shadow: 2px 3px 5px black;" >{{result}}</h4>
        </div>
      </div>
    </div>
  
    <div class="col">
  
    </div>
  </div>
</div>